{% extends '_layouts/our-impact-impact-stories-layout' %}

{% block content %}

<main class="main">
  <section id="page-header">
    <div class="block-page-header">
      <div class="container">
        <h2 class="block-page-header__title">Our impact</h2>
      </div>
      <nav class="block-page-header__navigation">
        <div class="container">
          <ul class="block-page-header__navigation-menu">
            <li><a href="#">Our approach to impact</a></li>
            <li><a href="#" class="active">Impact stories</a></li>
            <li><a href="#">Our publications</a></li>
            <li><a href="#">Portfolio Dashboard</a></li>
          </ul>
        </div>
      </nav>
    </div>

  </section>

  <section id="hero">
  {% set matrixBlocksTitles = entry.matrixTitle.all() %}
    <div class="block-hero" style="background-image:url('{{ entry.topImage.one().url }}'">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-7">
            <div class="block-hero__inner">
              <div class="block-hero__content-container">
                <h1 class="block-hero__title h2">
                  {% for m in matrixBlocksTitles|filter(m => m.sort == 1) %}
                    {{ m.textTitle }}
                  {% endfor %}
                </h1>
                <div class="block-hero__content common text--large">
                  {% if entry.titleDescription %}
                    {{ entry.titleDescription }}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="block-spacer"></div>
  </section>

  {% set listTab = craft.entries.section('ourImpactImpactStories').orderBy('sortIS').all() %}

  <section id="our-development-impact-framework">
      <div class="block-spacer--spacing-100"></div>
      <div class="block-card-group">
        <div class="container">
          <div class="block-card-group__inner">
            <div class="row">
              {% for item in listTab %}
                <div class="col-sm-12 col-md-6 col-lg-4">
                  <div class="block-card stories">
                    <img class="block-card__image-container-stories" src="{{ item.picture.one().url }}" alt="Image">
                    <h4 class="block-card__content common mb-0">
                      {{ item.category }}
                    </h4>
                    <h3 class="block-card__title">
                      {{ item.titleName }}
                    </h3>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="block-spacer--spacing-100"></div>
    </div>
  </section>
</main>

{% endblock %}
