{% extends '_layouts/single-layout' %}

{% block content %}
  {# {% if entry.backgroundImage|length %}
    <div class="site-background-image position-fixed" style="background-image: url('{{ entry.backgroundImage.one().url }}')"></div>
  {% endif %} #}
  <div class="w-100 h-100">
    {% if entry.topImage|length %}
      <div class="line-banner">
        <div class="image-mask" style="background:url('{{ entry.topImage.one().url }}')">
          <div class="container h-100">
            <div class="row h-100">
              <div class="col-lg-12 position-relative">
                <div class="banner-content text-center text-white">
                  <h1 class="single-header">{{ entry.title }}</h1>
                  <div class="row h-100">
                    <div class="col-12">
                      {% if entry.titleDescription %}
                        <div class="single__title-description">{{ entry.titleDescription }}</div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="single-header mt-4">{{ entry.title }}</h1>
          </div>
        </div>
      </div>
    {% endif %}
    <div class="container mt-4">
      <div class="row h-100">
        <div class="col-12">
          {% if entry.pageDescription %}
            <div class="single__page-description">{{ entry.pageDescription }}</div>
          {% endif %}
        </div>
      </div>
      {% for block in entry.pageContent.all() %}
        <div class="row h-100 mt-4">
          <div class="col-12">
            {% if block.type == 'redactorText' %}
              <div>{{ block.redactorText }}</div>
            {% elseif block.type == 'text' %}
              <p>{{ block.text }}</p>
            {% elseif block.type == 'images' %}
              {% for image in block.images.all() %}
                <div class="mt-3">
                  <img src="{{ image.url }}" alt="{{ image.title }}" style="width: 100%" />
                </div>
              {% endfor %}
            {% elseif block.type == 'files' %}
                <h4>Files:</h4>
              {% for file in block.files.all() %}
                <div class="mt-2">
                  <a href="{{ file.url }}">{{ file.title }}</a>
                </div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
