{% extends '_layouts/principal-investing-sectors-layout' %}

{% block content %}

<main class="main">
  <section id="page-header">
    <div class="block-page-header">
      <div class="container">
        <h2 class="block-page-header__title">Our impact</h2>
      </div>
      <nav class="block-page-header__navigation">
        <div class="container">
          <ul class="block-page-header__navigation-menu">
            <li><a href="#" class="active">Our approach to impact</a></li>
            <li><a href="#">Impact stories</a></li>
            <li><a href="#">Our publications</a></li>
            <li><a href="#">Portfolio Dashboard</a></li>
          </ul>
        </div>
      </nav>
    </div>

  </section>
  <section id="hero">

  {% set matrixBlocksTitles = entry.matrixTitle.all() %}

    <div class="block-hero" style="background-image:url('{{ entry.topImage.one().url }}')">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-7">
            <div class="block-hero__inner">
              <div class="block-hero__content-container">
                <h1 class="block-hero__title h2">
                  {% for m in matrixBlocksTitles|filter(m => m.sort == 1) %}
                    {{ m.textTitle }}
                  {% endfor %}
                </h1>
                <div class="block-hero__content common text--large">
                  {% if entry.titleDescription %}
                    {{ entry.titleDescription }}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="block-spacer"></div>

    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-lg-10">
          <div class="block-text__inner">
            <h2 class="fw-normal">
              {% for m in matrixBlocksTitles|filter(m => m.sort == 2) %}
                {{ m.textTitle }}
              {% endfor %}
            </h2>
          </div>
        </div>
      </div>
    </div>

    <div class="block-spacer--spacing-60"></div>

    <div class="block-card-group">
      <div class="container">
        <div class="block-card-group__inner">
          <div class="row">
            {% for block in entry.matrixTilesRound.all() %}
            <div class="col-sm-12 col-md-6 col-xl-3">
              <div class="block-card">
                <div class="block-card__icon-container">
                  <img src="/images/fon.svg" />
                  <img class="block-card__image block-card__icon" src="{{ block.trPicture.one().url }}" />
                </div>
                <div class="block-spacer--spacing-40"></div>
                <h4 class="block-card__title fw-normal">{{ block.trTitle }}</h3>
                <div class="block-card__content common">
                  {{ block.trDescription }}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="block-spacer"></div>


      {% for block in entry.tabList.all() %}
      <div class="row block-tab__lr">
        <div class="col-12 col-md-6 p-0 block-tab__lr-text">
          <div class="block-tab__lr-text-inner">
            <h2 class="h3">
              {{ block.tlTitle }}
            </h2>
            <h4>
              {{ block.tlDesc }}
            </h4>
            <div class="block-card__button-container">
              <a href="{{ block.tlButton }}" class="button button--gray" href="#" data-overlay-open='{ "id" : "oati-overlay-content-1" }'>Read more</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 p-0 block-tab__lr-image">
          <img class="block-tab__image" src="{{ block.tlImage.one().url }}" alt="Image">
          <!-- <div style="background-image:url('{{ block.tlImage.one().url }}')">

          </div> -->
        </div>
        </div>
      {% endfor %}


  </section>
</main>

{% endblock %}
