{% extends '_layouts/our-impact-our-approach-to-impact-layout' %}

{% block content %}

<main class="main">
  <section id="page-header">
    <div class="block-page-header">
      <div class="container">
        <h2 class="block-page-header__title">Our impact</h2>
      </div>
      <nav class="block-page-header__navigation">
        <div class="container">
          <ul class="block-page-header__navigation-menu">
            <li><a href="#" class="active">Our approach to impact</a></li>
            <li><a href="#">Impact stories</a></li>
            <li><a href="#">Our publications</a></li>
            <li><a href="#">Portfolio Dashboard</a></li>
          </ul>
        </div>
      </nav>
    </div>

  </section>
  <section id="hero">

  {% set matrixBlocksTitles = entry.matrixTitle.all() %}

    <div class="block-hero" style="background-image:url('{{ entry.topImage.one().url }}')">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-7">
            <div class="block-hero__inner">
              <div class="block-hero__content-container">
                <h1 class="block-hero__title h2">
                  {% for m in matrixBlocksTitles|filter(m => m.sort == 1) %}
                    {{ m.textTitle }}
                  {% endfor %}
                </h1>
                <div class="block-hero__content common text--large">
                  {% if entry.titleDescription %}
                    {{ entry.titleDescription }}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="block-spacer"></div>

    {% set matrixBlocksDesc = entry.matrixDescription.all() %}

    <div class="block-text block-text--padding-x text--large">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-10">
            <div class="block-text__inner">
              {% for m in matrixBlocksDesc|filter(m => m.sort == 1) %}
                {{ m.textDesc }}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="block-spacer"></div>
    <div class="block-text block-text--padding-x text--large">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-10">
            <div class="block-text__inner">
              {% for m in matrixBlocksDesc|filter(m => m.sort == 2) %}
                {{ m.textDesc }}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="block-spacer"></div>
    <div class="block-card-group">
      <div class="container">
        <div class="block-card-group__inner">
          <div class="row">
            {% for block in entry.matrixTilesRound.all() %}
            <div class="col-sm-12 col-md-6 col-xl-3">
              <div class="block-card">
                <div class="block-card__image-container">
                  <img class="block-card__image" src="{{ block.trPicture.one().url }}" />
                </div>
                <h3 class="block-card__title">{{ block.trTitle }}</h3>
                <div class="block-card__content common">
                  {{ block.trDescription }}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="block-spacer"></div>
  </section>

  <section id="afcs-sustainability-strategy">
    <div class="block-container background--color-warm-grey background--color-translucent">
      <div class="block-text text--large common">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-lg-10">
              <div class="block-text__inner">
                <h2 class="h3">
                {% for m in matrixBlocksTitles|filter(m => m.sort == 2) %}
                  {{ m.textTitle }}
                {% endfor %}
                </h2>
                <!-- <p>
                  AFC drives the provision of innovative home-grown solutions to Africa’s development and climate change challenges as it relates to infrastructure – our core focus and area of expertise – an approach premised on our sustainability strategy:
                </p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="block-spacer"></div>
      <div class="block-list text--large">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-lg-10">
              <ul class="block-list__list">
                {% for block in entry.list.all() %}
                  <li>
                    <span>
                      <img class="block-list__image" src="{{ block.generalImage.one().url }}" />
                    </span>
                    <span>{{ block.generalTitle }}</span>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="the-strategy-comprises-the-following-key-tenets">
    <div class="block-spacer block-spacer--spacing-100"></div>
    <div class="block-big-feature">
      <div class="container">
        <div class="block-big-feature__content-container">
          <div class="block-big-feature__content common">
            <h2>
              {% for m in matrixBlocksTitles|filter(m => m.sort == 3) %}
                {{ m.textTitle }}
              {% endfor %}
            </h2>
            <ul>
              {% for block in entry.listUl.all() %}
                <li>{{ block.listText }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="block-big-feature__image-container">
        <div class="block-big-feature__image" style="background-image:url(/images/2-1.jpg);" />
      </div>
    </div>
  </section>

  <section id="our-development-impact-framework">
    <div class="block-container block-container--background-shape block-container--background-shape-color-white background--color-warm-grey background--color-translucent">
      <div class="block-text">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-lg-10">
              <div class="block-text__inner">
                <h2>
                {% for m in matrixBlocksTitles|filter(m => m.sort == 4) %}
                  {{ m.textTitle }}
                {% endfor %}
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="block-spacer block-spacer--spacing-30"></div>
      <div class="block-text text--jumbo">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-lg-10">
              <div class="block-text__inner color--navy-blue">
                {% for m in matrixBlocksDesc|filter(m => m.sort == 3) %}
                  {{ m.textDesc }}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="block-spacer block-spacer--spacing-20"></div>
      <div class="block-text">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-lg-10">
              <div class="block-text__inner">
                {% for m in matrixBlocksDesc|filter(m => m.sort == 4) %}
                  {{ m.textDesc }}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="block-spacer"></div>
      <div class="block-card-group">
        <div class="container">
          <div class="block-card-group__inner">
            <div class="row">
              {% for block in entry.tab1.all() %}
                <div class="block-card-group__inner-color col-sm-12 col-md-6 col-lg-4">
                  <div class="block-card background--color-sky-blue">
                    <h3 class="block-card__title">
                      {{ block.tabTitle }}
                    </h3>
                    <div class="block-card__content common">
                      {{ block.tabDesc }}
                    </div>
                    <div class="block-card__button-container">
                      <a class="button button--tertiary button--icon button--icon-plus" href="#" data-overlay-open='{ "id" : "oati-overlay-content-1" }'>Read more</a>
                    </div>
                    <div class="common"  data-overlay='{ "id" : "oati-overlay-content-1", "color" : "sky-blue" }' class="common" style="display:none;">

                      <h2 class="h1">Development Impact Reporting</h2>

                      <p>Our focus on Development Impact – as a core tenet of sustainability – is about meeting the needs of the present generation without compromising the ability of future generations to meet their own needs. This requires improving infrastructure to promote industries, job creation, value addition and overall economic growth, while transitioning to climate-friendly investment solutions.</p>

                      <p>AFC’s investing efforts support the following sustainable development goals:</p>

                      <ul>
                      <li>Gender Equality via mainstreaming AFC gender policy</li>

                      <li>Access to clean water and sanitation through clean water distribution plants, waste management and resource management</li>

                      <li>Access to affordable and clean energy through low carbon technologies and renewable energy, helping to decarbonise the energy grid</li>

                      <li>Availability of decent work and facilitation of economic growth through the enforcement of good governance, digitisation and the support of health services</li>

                      <li>Facilitation of Industry Innovation and Infrastructure through ICT, transport infrastructure, new technology and industrial development</li>

                      <li>Development of sustainable cities and communities through energy efficient and lower carbon and resilient industries and infrastructure</li>

                      <li>Climate action through energy access and generation, transport infrastructure, technology and industry</li>
                      </ul>
                    </div>
                  </div>
                </div>
              {% endfor %}
              <!-- <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="block-card background--color-innovation-blue">
                  <h3 class="block-card__title">
                    Climate Finance &amp; Climate Change Mitigation and Adaptation
                  </h3>
                  <div class="block-card__content common">
                    <p>We remain committed to promoting transition to a green economy, reducing GHG emissions and enhancing the capacity of projects to achieve climate change mitigation/adaptation, while pursuing long-term sustainable development.</p>
                  </div>
                  <div class="block-card__button-container">
                    <a class="button button--tertiary button--icon button--icon-plus" href="#" data-overlay-open='{ "id" : "oati-overlay-content-2" }'>Read more</a>
                  </div>
                  <div class="common"  data-overlay='{ "id" : "oati-overlay-content-2", "color" : "innovation-blue" }' style="display:none;">
                    <h2 class="h1">Climate Finance &amp; Climate Change Mitigation and Adaptation</h2>

                    <p>We remain committed to promoting transition to a green economy, reducing GHG emissions and enhancing the capacity of projects to achieve climate change mitigation/adaptation, while pursuing long-term sustainable development.</p>

                    <p>This includes:</p>

                    <ul>
                    <li>Reinvigorating or scaling up low carbon energy sources (renewable, efficient, cleaner) in the Power sector</li>

                    <li>Promoting resource efficiency, cleaner technologies and pollution prevention (life-cycle inventory) in the HI & Telecommunications sectors</li>

                    <li>Pursuing sustainable mining of battery minerals to drive the electric vehicle revolution in the Natural Resources sector</li>

                    <li>Building sustainable and carbon neutral resource based industrial zones in the Transport & Logistics and Heavy Industry sectors</li>

                    <li>Supporting Mitigation efficiency in the Transport & Logistics sector (cleaner technologies, green energy & modal shift)</li>
                    </ul>

                    <p>AFC recently launched AFC Capital (a fully owned subsidiary of AFC) as an asset management company with the mandate to raise its first fund to tackle Infrastructure Climate Resilience. The inaugural US$500 million Infrastructure Climate Resilient Fund will focus on co-investing alongside the AFC balance sheet in de-risked climate resilient and sustainable infrastructure assets across AFCs sectors, with plans to raise US$2bn over the next three years. We believe this is a neglected area in Africa and have set up a team to raise a dedicated fund to ensure the climate resilience aspect of each project we are involved in is addressed, while still making commercial returns.</p>

                    <p><i>Mobilising and Deploying Climate Finance</i></p>

                    <p>Since records of CO2 emissions began in 1751, Africa has been responsible for less than 0.01% globally. Yet, despite this low contribution, it is anticipated that African economies will be significantly affected in the absence of adaptation measures, with droughts and cyclones becoming much more frequent.</p>

                    <p>Over the years, AFC has leveraged strategic partnerships to access and deploy competitive climate financing solutions to address Africa’s growing climate crisis. We also utilise blended financing instruments to support the participation of local financial institutions that are often price-constrained, thereby widening the availability of long-term funding solutions for climate finance projects across various sectors.</p>

                    <p>Initiatives over the years include:</p>

                    <ul>

                    <li><strong>Accreditation with the Green Climate Fund:</strong> AFC is the first African development financial institution to be accredited</li>

                    <li><strong>Participation in Global Innovation Lab for Climate Finance:</strong> The “Lab” consists of international private investors who accelerate the design of financial instruments that can unlock billions across sectors AFC invests in. It has launched 41 innovative climate finance instruments and achieved US$2bn+ in sustainable investments since creation in 2014</li>

                    <li><strong>Issuance of our first CHF 150 million Green Bond:</strong> the first bond issued by a supranational entity in the CEEMEA region, in accordance with our Green Bond Framework, consistent with the International Capital Market Association’s Green Bond Principles and reviewed by ISS ESG</li>

                    <li>EUR100 million climate financing line of credit from Agence Française de Développement to finance green infrastructure</li>

                    </ul>

                    <p>Projects such as the 26MW Cabeolica Wind Farm in Cape Verde, the 60MW Djibouti Wind Farm and the 44MW Singrobo Hydro Project in Cote D’Ivoire have been enabled through climate finance solutions, are significantly contributing to their national grids, and are pioneering developments in the energy sector that will be the blueprint for future projects.</p>
                  </div>
                </div>
              </div> -->
              <!-- <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="block-card background--color-black">
                  <h3 class="block-card__title">
                    Robust ESG Policy
                  </h3>
                  <div class="block-card__content common">
                    <p>AFC maintains and applies a robust Environmental Social and Governance (ESG) Policy to cover all our activities, based on the following international standards: IFC’s Performance Standards, the Equator Principles, World Bank Group’s Environmental, Health and Safety Guidelines, and African Development Bank Integrated Safeguards System.</p>
                  </div>
                  <div class="block-card__button-container">
                    <a class="button button--tertiary button--icon button--icon-plus" href="#" data-overlay-open='{ "id" : "oati-overlay-content-3" }'>Read more</a>
                  </div>
                  <div class="common"  data-overlay='{ "id" : "oati-overlay-content-3", "color" : "black" }' style="display:none;">
                    <h2 class="h1">Robust ESG Policy</h2>

                    <p>AFC maintains and applies a robust Environmental Social and Governance (ESG) Policy to cover all our activities, based on the following international standards: IFC’s Performance Standards, the Equator Principles, World Bank Group’s Environmental, Health and Safety Guidelines, and African Development Bank Integrated Safeguards System.</p>

                    <p>We promote sustainable investing through:</p>

                    <ul>
                    <li>A pipeline of renewable energy projects</li>

                    <li>Early involvement in project development to proactively ensure that projects are sustainable</li>

                    <li>Implementing a robust Africa-centric climate finance policy</li>

                    <li>A dedicated Line of Credit targeted at climate-friendly infrastructure development</li>

                    <li>Our status as an accredited entity for the GCF (the first African entity to be accredited)</li>

                    <li>Implementing internationally recognised sustainability standards and collaborating with partners who use world-class E&S practices</li>

                    <li>Working directly with clients/sponsors to monitor the implementation of various E&S mitigation action plans</li>

                    <li>Adding value to client/sponsors E&S risk management efforts through training and knowledge / skills transfer</li>
                    </ul>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="our-impact-specialisms">
    <div class="block-container block-container--background-shape block-container--background-shape-color-warm-grey">
      <div class="block-text text--jumbo">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-lg-10">
              <div class="block-text__inner">
                <h2>
                  {% for m in matrixBlocksTitles|filter(m => m.sort == 5) %}
                    {{ m.textTitle }}
                  {% endfor %}
                </h2>
                  {% for m in matrixBlocksTitles|filter(m => m.sort == 6) %}
                    {{ m.textTitle }}
                  {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="block-spacer"></div>
      <div class="block-card-group">
        <div class="container">
          <div class="block-card-group__inner">
            <div class="row">
              {% for block in entry.tab2.all() %}
              <div class="block-card-group-five__inner-color col-sm-12 col-md-6 col-lg-4">
                <div class="block-card background--color-green">
                  <h3 class="block-card__title">
                    {{ block.tabTitle }}
                  </h3>
                  <div class="block-card__content common">
                    {{ block.tabDesc }}
                  </div>
                  <div class="block-card__button-container">
                    <a class="button button--tertiary button--icon button--icon-plus" href="#" data-overlay-open='{ "id" : "oati-overlay-content-4" }'>Read more</a>
                  </div>
                  <div class="common"  data-overlay='{ "id" : "oati-overlay-content-4", "color" : "green" }' style="display:none;">
                    <h2 class="h1">Supporting our clients every step of the way – even during the most challenging times</h2>
                    <p>Throughout the pandemic, AFC has provided a lifeline to communities across the continent through the continued operation of our investee companies and borrowers in critical sectors including power e.g. the 80MW peat-fired independent power plant in Rwanda and the 44MW Singrobo hydro project in Cote D’Ivoire, and ports e.g. the Takoradi Port project in Ghana and the ARISE Mauritania project.</p>
                    <p>Our continued disbursement of funds for construction projects minimised the loss of direct/indirect jobs through the critical phase of the pandemic.</p>
                  </div>
                </div>
                <!-- <div class="block-card background--color-purple">
                  <h3 class="block-card__title">
                    Thor Gold and the Nigerian Mining Sector
                  </h3>
                  <div class="block-card__content common">
                    <p>AFC invested US$86MM in the Segilola Gold Mine in Osun State, Nigeria, sponsored by Thor Explorations Limited.</p>
                  </div>
                  <div class="block-card__button-container">
                    <a class="button button--tertiary button--icon button--icon-plus" href="#" data-overlay-open='{ "id" : "oati-overlay-content-7" }'>Read more</a>
                  </div>
                  <div class="common"  data-overlay='{ "id" : "oati-overlay-content-7", "color" : "purple" }' style="display:none;">
                    <h2 class="h1">Thor Gold and the Nigerian Mining Sector  </h2>
                    <p>AFC invested US$86MM in the Segilola Gold Mine in Osun State, Nigeria, sponsored by Thor Explorations Limited. Segilola is the largest, most advanced institutional quality gold mining project in Nigeria, in addition to being one of the highest-grade reserves in West Africa.</p>
                    <p>The project is expected to produce 81,000 ounces of gold per year over its initial 5-year span. Our landmark investment opened up the Nigerian Mining Sector (a top priority for the Nigerian Federal Government) to Foreign Direct Investment, further diversifying the economy away from reliance on oil and gas. In addition, the AFC has been an active advisor to the Nigerian Ministry of Mines on how to attract more capital to the country and develop this sector to rival the success of the upstream hydrocarbon industry.</p>
                  </div>
                </div> -->
              </div>
              <!-- <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="block-card background--color-turquoise">
                  <h3 class="block-card__title">
                    Focusing on highly impactful projects
                  </h3>
                  <div class="block-card__content common">
                    <p>Fast-tracked loans to telecoms operators (like MTN Nigeria) to expand digital infrastructure – supported ‘work from home’ initiatives to reduce the spread of COVID-19.</p>
                  </div>
                  <div class="block-card__button-container">
                    <a class="button button--tertiary button--icon button--icon-plus" href="#" data-overlay-open='{ "id" : "oati-overlay-content-5" }'>Read more</a>
                  </div>
                  <div class="common"  data-overlay='{ "id" : "oati-overlay-content-5", "color" : "turquoise" }' style="display:none;">
                    <h2 class="h1">Focusing on highly impactful projects</h2>
                    <p>Fast-tracked loans to telecoms operators (like MTN Nigeria) to expand digital infrastructure – supported ‘work from home’ initiatives to reduce the spread of COVID-19.</p>
                    <p>In the COVID-19 context, MTNN witnessed increased demand for data services with data traffic up 130% and data revenues up by c.59.2% year-on-year – driven by increased smartphone and broadband usage due to unprecedented levels of remote working. Improved network capacity thus enabled MTNN to capitalise on consumer demand and ensure it had adequate infrastructure to capture future potential growth.</p>
                    <p><strong>AFC as a catalyst to mobilise additional investment:</strong></p>
                    <p><u>(I) Mobilising c.US$2bn through AFCs initial US$140 million</u></p>
                    <p>Through our US$140 million initial investment (at the time our largest single equity investment in Gabon), ARISE has attracted EUR1bn of extra financing from Stoa, Meridian, AP Moller Capital and more, and US$700mm in debt financing from BGFI Bank, Afreximbank, GuarantCo and African Development Bank.</p>
                    <p><u>(ii) Attracting and leveraging strong strategic partners</u></p>
                    <p>We attract and develop long-term strategic partnerships that ensure sustainable development of projects, such as the 60MW Djibouti Wind Farm Project where AFC took up the project as a lead developer, attracting Dutch Development Finance Corporation and Climate Fund Managers (a climate investment fund manager) as co-investors. The Project is pivotal as Djibouti aims to transition towards 100% renewable energy-based electricity production and reduce its emissions by 40% by 2030.  The project will significantly reduce GHG emissions in the country’s HFO dominated (90%) electricity sector.</p>
                    <p><strong>Focusing on innovation to catalyse and open up new markets and countries to FDI:</strong></p>
                  </div>
                </div> -->
                <!-- <div class="block-card background--color-purple-light">
                  <h3 class="block-card__title">
                    ARISE IIP and Accelerating African Value Addition
                  </h3>
                  <div class="block-card__content common">
                    <p>The COVID-19 pandemic highlighted the urgent need to expand African manufacturing, positioning Africa as a viable alternative to manufacturing in China and elsewhere, reducing the carbon footprint from global shipping and creating essential jobs for Africa’s young population.</p>
                  </div>
                  <div class="block-card__button-container">
                    <a class="button button--tertiary button--icon button--icon-plus" href="#" data-overlay-open='{ "id" : "oati-overlay-content-8" }'>Read more</a>
                  </div>
                  <div class="common"  data-overlay='{ "id" : "oati-overlay-content-8", "color" : "purple-light" }' style="display:none;">
                    <h2 class="h1">ARISE IIP and Accelerating African Value Addition</h2>
                    <p>The COVID-19 pandemic highlighted the urgent need to expand African manufacturing, positioning Africa as a viable alternative to manufacturing in China and elsewhere, reducing the carbon footprint from global shipping and creating essential jobs for Africa’s young population. We are achieving this through a tried and tested model introduced in Gabon to other countries including Benin and Togo – the ARISE Special Economic Zone (ARISE IIP). ARISE IIP through the Nkok SEZ, the first carbon neutral zone in the world, has transformed the Gabonese economy by developing infrastructure, enhancing industrial competitiveness and building a business-friendly ecosystem in Gabon through a joint venture between Africa Finance Corporation, Olam International Ltd. and the Republic of Gabon. AFC invested US$140 million alongside its partners to build a flourishing ecosystem around the forest-wood industry. This included a new mineral terminal, a general logistics terminal, and other infrastructure projects. As a result, Gabon’s earnings have increased from €30 to €180 per cbm of wood – and in some cases up to €40,000 per cbm of wood; 30,000 jobs have been created with US$1bn contributed to the country’s GDP. The Nkok SEZ is the highest exporter of veneer wood.</p>
                    <p>Through a further US$150 million investment by AFC at the height of the pandemic, the Gabon model is being replicated by ARISE in Togo – with Plateforme Industrielle d’Adétikope (PIA) inaugurated to create thriving textile industry value chain, and Benin SEZ – aimed at creating cashew and cotton value chains. The Togo and Benin SEZs are expected to add US$3bn to GDP, US$4bn in exports and impact over 600,000 farmers.</p>
                    <p><strong>Project Development as AFC’s unique asset class:</strong></p>
                    <p>AFC takes the lead on projects and early-stage risk by providing project development capital and structuring expertise, i.e. handling the project through to bankability and financial close. There is a dearth of bankable projects in Africa, and project development is the key, with AFC demonstrating this in the power space through our many ‘firsts’: the 350MW Cenpower gas to power project; 60MW wind project in Djibouti; and in the mining space, our 10million mtpa bauxite mine in Guinea; a gas pipeline in the oil and gas space; and a refinery and storage terminal in West Africa in the heavy industry sector.</p>
                    <p>Through our world class project development asset class, we assist project sponsors in the journey towards achieving project bankability – to unlock the bottleneck associated with infrastructure development on the continent.</p>
                    <p><strong>Partnerships with Governments – enabling them to achieve their national development ambitions:</strong></p>
                    <p>Governments also need to be supported to invest in social and hard infrastructure to support economic recovery in their countries. Partnerships with governments are also key in supporting their national development plans and ambitions. COVID-19 has meant that government reserves and balance sheets have been stretched, shifting focus on priority sectors such as healthcare that have become constrained. This leaves little for governments to invest in infrastructure and industry, which are core to supporting the economic recovery.</p>
                    <p>Consequently, the private sector has to increasingly support governments through innovative sovereign lending solutions and public-private partnerships. AFC is leading this through its product solutions desk, focusing on sovereign lending and off-balance sheet structures. Two recent important transactions are supporting the government of Cote D’Ivoire primarily in its roads programme, and the government of Tanzania on its water, social infrastructure and transport projects.</p>
                    <p>In addition, the partnership with the Nigerian government on its infrastructure vehicle, Infrastructure Corporation of Nigeria (InfraCo) is another important initiative co-led by the Central Bank of Nigeria (a 42% shareholder in AFC) and the Nigeria Sovereign Investment Authority (NSIA). With initial seed capital of N1tn ($2.5bn) from the promoters, the government expects it to grow to N15trn within a few years. InfraCo will focus on delivering public and private sector projects from origination to portfolio management and exits. Nigeria is Africa’s largest economy with the largest population – but it has a significant infrastructure deficit. This requires capital and expertise to bridge, which InfraCo can provide.</p>
                  </div>
                </div> -->
                {% endfor %}
              </div>
              <!-- <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="block-card background--color-steel-gray">
                  <h3 class="block-card__title">
                    Djibouti Wind Farm and the Djiboutian Private Sector IPP Market
                  </h3>
                  <div class="block-card__content common">
                    <p>AFCs partnership with FMO and CFM resulted in many firsts being achieved on the project, including the first grid-scale IPP in Djibouti to use all sponsor equity bridge financing to accelerate the development of the project. </p>
                  </div>
                  <div class="block-card__button-container">
                    <a class="button button--tertiary button--icon button--icon-plus" href="#" data-overlay-open='{ "id" : "oati-overlay-content-6" }'>Read more</a>
                  </div>
                  <div class="common"  data-overlay='{ "id" : "oati-overlay-content-6", "color" : "steel-gray" }' style="display:none;">
                    <h2 class="h1">Djibouti Wind Farm and the Djiboutian Private Sector IPP Market</h2>
                    <p>AFCs partnership with FMO and CFM resulted in many firsts being achieved on the project, including the first grid-scale IPP in Djibouti to use all sponsor equity bridge financing to accelerate the development of the project. The project is on target for commissioning in December 2021 to deliver first power to the nearly 1 million population. Since AFC’s investment, various other projects have been initiated with the government including Engie’s 30MW solar plant in the Grand Bara desert and the 35MW CREC Energy Biomass plant.</p>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}
