{% extends '_layouts/our-impact-portfolio-dashboard-layout' %}

{% block content %}

<main class="main">
  <section id="page-header">
    <div class="block-page-header">
      <div class="container">
        <h2 class="block-page-header__title">Our impact</h2>
      </div>
      <nav class="block-page-header__navigation">
        <div class="container">
          <ul class="block-page-header__navigation-menu">
            <li><a href="#" class="active">Our approach to impact</a></li>
            <li><a href="#">Impact stories</a></li>
            <li><a href="#">Our publications</a></li>
            <li><a href="#">Portfolio Dashboard</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </section>

  <section id="hero">
  {% set matrixBlocksTitles = entry.matrixTitle.all() %}
    <div class="block-hero" style="background-image:url('{{ entry.topImage.one().url }}'">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-7">
            <div class="block-hero__inner">
              <div class="block-hero__content-container">
                <h1 class="block-hero__title h2">
                  {% for m in matrixBlocksTitles|filter(m => m.sort == 1) %}
                    {{ m.textTitle }}
                  {% endfor %}
                </h1>
                <div class="block-hero__content common text--large">
                  {% if entry.titleDescription %}
                    {{ entry.titleDescription }}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="block-spacer"></div>

    {% set matrixBlocksDesc = entry.matrixDescription.all() %}
  </section>

  <section id="our-impact-portfolio-dashboard">
    <div class="block-spacer block-spacer--spacing-100"></div>

    <div class="container">
      <table class="custom-table-portfolio-dashboard">
        <thead>
          <tr>
            <td class="color--navy-blue custom-table-portfolio-dashboard__first-thead">Name of Project</td>
            <td class="color--navy-blue">Country</td>
            <td class="color--navy-blue">Sector</td>
            <td class="color--navy-blue">Sub Sector</td>
            <td class="color--navy-blue">Type</td>
            <td class="color--navy-blue">Approved Amount (US$)</td>
            <td class="color--navy-blue">Amount Disbursed (US$)</td>
            <td class="color--navy-blue">Start Date</td>
          </tr>
        </thead>
        <tbody>
          {% for row in entry.portfolioDashboard %}
            <tr class="custom-table-portfolio-dashboard__first-col-outer">
              <td class="color--navy-blue custom-table-portfolio-dashboard__first-col">{{ row.nameOfProject }}</td>
              <td class="color--navy-blue">{{ row.country }}</td>
              <td class="color--navy-blue">{{ row.sector }}</td>
              <td class="color--navy-blue">{{ row.subSector }}</td>
              <td class="color--navy-blue">{{ row.type }}</td>
              <td class="color--navy-blue">{{ row.approvedAmountUs }}</td>
              <td class="color--navy-blue">{{ row.amountDisbursedUs }}</td>
              <td class="color--navy-blue">{{ row.startDate }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>

</main>

{% endblock %}
