{% extends '_layouts/our-impact-impact-stories-layout' %}

{% block content %}

<main class="main">
  <section id="page-header">
    <div class="block-page-header">
      <div class="container">
        <h2 class="block-page-header__title">Our impact</h2>
      </div>
      <nav class="block-page-header__navigation">
        <div class="container">
          <ul class="block-page-header__navigation-menu block-page-header__navigation-menu-three-elements">
            <li><a href="#" class="active">With investors</a></li>
            <li><a href="#">With countries</a></li>
            <li><a href="#">Collaborations</a></li>
          </ul>
        </div>
      </nav>
    </div>

  </section>

  <section id="hero">
  {% set matrixBlocksTitles = entry.matrixTitle.all() %}
    <div class="block-hero" style="background-image:url('{{ entry.topImage.one().url }}'">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-7">
            <div class="block-hero__inner">
              <div class="block-hero__content-container">
                <h1 class="block-hero__title h2">
                  {% for m in matrixBlocksTitles|filter(m => m.sort == 1) %}
                    {{ m.textTitle }}
                  {% endfor %}
                </h1>
                <div class="block-hero__content common text--large">
                  {% if entry.titleDescription %}
                    {{ entry.titleDescription }}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="block-spacer"></div>
  </section>

  {% set listTab = craft.entries.section('ourImpactImpactStories').orderBy('sortIS').all() %}
  {% set matrixBlocksDesc = entry.matrixDescription.all() %}

  <section id="our-development-impact-framework">
    <div class="block-text">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-10">
            <div class="block-text__inner">
              <h2>
              {% for m in matrixBlocksTitles|filter(m => m.sort == 2) %}
                {{ m.textTitle }}
              {% endfor %}
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="block-spacer block-spacer--spacing-20"></div>
    <div class="block-text">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-10">
            <div class="block-text__inner">
              {% for m in matrixBlocksDesc|filter(m => m.sort == 1) %}
                {{ m.textDesc }}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="block-spacer block-spacer--spacing-60"></div>
    <div class="container">
      <table class="custom-table-products">

        <thead>
          <tr>
            <td class="color--navy-blue">Size</td>
            <td class="color--navy-blue">Coupon</td>
            <td class="color--navy-blue">Issue Date</td>
            <td class="color--navy-blue">Maturity</td>
          </tr>
        </thead>
        <tbody>
          {% for row in entry.tableProducts %}
            <tr>
              <td class="color--navy-blue">{{ row.size }}</td>
              <td class="color--navy-blue">{{ row.coupon }}</td>
              <td class="color--navy-blue">{{ row.issueDate }}</td>
              <td class="color--navy-blue">{{ row.maturity }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="block-spacer block-spacer--spacing-100"></div>
    <section id="the-strategy-comprises-the-following-key-tenets">
      <div class="block-spacer block-spacer--spacing-100 background--color-warm-grey background--color-translucent"></div>
      <div class="block-big-feature background--color-warm-grey background--color-translucent">
        <div class="container">
          <div class="block-big-feature__content-container">
            <div class="block-big-feature__content common">
              <h2>
                {% for m in matrixBlocksTitles|filter(m => m.sort == 3) %}
                  {{ m.textTitle }}
                {% endfor %}
              </h2>
              <div>
                {% for m in matrixBlocksDesc|filter(m => m.sort == 2) %}
                  {{ m.textDesc }}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="block-big-feature__image-container">
          <div class="block-big-feature__image" style="background-image:url(/images/2-2.png);" />
        </div>
      </div>
    </section>
    <section id="our-development-impact-framework">
      <div class="block-container">
        <div class="block-text">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-lg-10">
                <div class="block-text__inner">
                  <h2>
                    {% for m in matrixBlocksTitles|filter(m => m.sort == 4) %}
                      {{ m.textTitle }}
                    {% endfor %}
                  </h2>
                  <div>
                    {% for m in matrixBlocksDesc|filter(m => m.sort == 3) %}
                      {{ m.textDesc }}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

      <!-- <div class="block-spacer--spacing-100"></div> -->
      <!-- <div class="block-card-group">
        <div class="container">
          <div class="block-card-group__inner">
            <div class="row">
              {% for item in listTab %}
                <div class="col-sm-12 col-md-6 col-lg-4">
                  <div class="block-card stories">
                    <img class="block-card__image-container-stories" src="{{ item.picture.one().url }}" alt="Image">
                    <h4 class="block-card__content common mb-0">
                      {{ item.category }}
                    </h4>
                    <h3 class="block-card__title">
                      {{ item.titleName }}
                    </h3>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div> -->
      <!-- <div class="block-spacer--spacing-100"></div> -->
    <!-- </div> -->
  </section>
</main>

{% endblock %}
