<!DOCTYPE html>
<html lang="EN">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta charset="utf-8"/>
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"/>
  <meta name="referrer" content="origin-when-cross-origin"/>
  <meta name="description" content="{{ 'AFC Bank - Home!'|t }}">
  <link rel="shortcut icon" href="/images/favicon_b.ico" />
  <link rel="icon" type="image/vnd.microsoft.icon" href="/images/favicon_b.ico">
  <link rel="icon" type="image/x-icon" href="/images/favicon_b.ico">
  <link rel="icon" href="/images/favicon_b.ico" />
  <link rel="stylesheet" href="/css/bootstrap/bootstrap.css" />
  <link rel="stylesheet" href="/css/bootstrap/bootstrap.css.map" />
  <link rel="stylesheet" href="/fonts/fontawesome/css/all.css" />
  <link rel="stylesheet" href="/css/main.css" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
  {% block unique_styles %}{% endblock %}
  <title>{{ 'AFC Bank - Principal investing sectors!'|t }}</title>
</head>
<body>
  <header class="header">
			<div class="container">
				<div class="header__inner">
					<div class="header-group-1">
						<div class="header__logo-container">
							<a href="#">
								<img class="header__logo" src="/images/0-1.svg" />
							</a>
						</div>
					</div>
					<div class="header-group-3">
						<ul class="header__action-group">
							<li>
								<a href="#">
									<img class="block-card__image" src="../images/3-1.svg" />
								</a>
							</li>
							<li>
								<a href="#" data-navigation-open>
									<img class="block-card__image" src="../images/3-2.svg" />
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</header>

  <nav class="navigation" data-navigation>
    <div class="navigation__inner" data-navigation-inner>
      <div class="container h-100">
        <div class="navigation__body">
          <div class="navigation__body-inner">
            <div class="navigation__body-top">
              <a class="navigation__close-button" data-navigation-close href="#">
                <img src="../images/vectors/0-3.svg" />
              </a>
              <div class="navigation__menu-container">
                <ul class="navigation__menu">
                  <li><a href="#">Home</a></li>
                  <li>
                    <a href="#">Our approach</a>
                    <ul>
                      <li><a href="#">The solutions we deliver</a></li>
                      <li><a href="#">Principle investing</a></li>
                      <li><a href="#">Project development</a></li>
                      <li><a href="#">Product solutions</a></li>
                      <li><a href="#">Financial advisory</a></li>
                      <li><a href="#">Financial institution and trade</a></li>
                      <li><a href="#">Treasury client solution</a></li>
                      <li><a href="#">Syndications</a></li>
                    </ul>
                  </li>
                  <li class="active">
                    <a href="#">Our impact</a>
                    <ul>
                      <li class="active"><a href="#">Our approach to impact</a></li>
                      <li><a href="#">Impact stories</a></li>
                      <li><a href="#">Our publications</a></li>
                      <li><a href="#">Portfolio dashboard	</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Investor and country relations</a>
                    <ul>
                      <li><a href="#">With investors</a></li>
                      <li><a href="#">With countries</a></li>
                      <li><a href="#">Collaborations</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">News &amp; insights</a>
                    <ul>
                <li><a href="#">Insights</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">About us</a>
                    <ul>
                      <li><a href="#">AFC</a></li>
                      <li><a href="#">Shareholders</a></li>
                      <li><a href="#">Our corporate governance</a></li>
                      <li><a href="#">Sustainability stewardship</a></li>
                      <li><a href="#">AFC Capital</a></li>
                      <li><a href="#">Our people</a></li>
                      <li><a href="#">Documents</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Careers</a>
                    <ul>
                      <li><a href="#">Careers</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Contact</a>
                    <ul>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
            <div class="navigation__body-bottom">
              <div class="navigation__social-container">
                <ul class="social social--white">
                  <li>
                    <a href="#">
                      <img class="social__image" src="../images/vectors/6-1.svg" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img class="social__image" src="../images/vectors/6-2.svg" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img class="social__image" src="../images/vectors/6-3.svg" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img class="social__image" src="../images/vectors/6-4.svg" />
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="navigation__backdrop" data-navigation-backdrop></div>
  </nav>

  <main class="main">
    {% block content %}{% endblock %}
  </main>
  <footer class="footer">
			<div class="container">
				<div class="footer__top">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
							<div class="footer__navigation">
								<h4 class="footer__navigation-menu-title">Our approach</h4>
								<ul class="footer__navigation-menu">
									<li><a href="#">The solutions we deliver</a></li>
									<li><a href="#">Principle investing</a></li>
									<li><a href="#">Project development</a></li>
									<li><a href="#">Product solutions</a></li>
									<li><a href="#">Financial advisory</a></li>
									<li><a href="#">Financial institution and trade</a></li>
									<li><a href="#">Treasury client solution</a></li>
									<li><a href="#">Syndications</a></li>
								</ul>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
							<div class="footer__navigation">
								<h4 class="footer__navigation-menu-title">Our Impact</h4>
								<ul class="footer__navigation-menu">
									<li><a href="#">Our approach to impact</a></li>
									<li><a href="#">Impact stories</a></li>
									<li><a href="#">Our publications</a></li>
									<li><a href="#">Portfolio dashboard	</a></li>
								</ul>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
							<div class="footer__navigation">
								<h4 class="footer__navigation-menu-title">Investor</h4>
								<ul class="footer__navigation-menu">
									<li><a href="#">With investors</a></li>
									<li><a href="#">With countries</a></li>
									<li><a href="#">Collaborations</a></li>
								</ul>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
							<div class="footer__navigation">
								<h4 class="footer__navigation-menu-title">News &amp; Insight</h4>
								<ul class="footer__navigation-menu">
									<li><a href="#">Insights</a></li>
								</ul>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
							<div class="footer__navigation">
								<h4 class="footer__navigation-menu-title">About Us</h4>
								<ul class="footer__navigation-menu">
									<li><a href="#">AFC</a></li>
									<li><a href="#">Shareholders</a></li>
									<li><a href="#">Our corporate governance</a></li>
									<li><a href="#">Sustainability stewardship</a></li>
									<li><a href="#">AFC Capital</a></li>
									<li><a href="#">Our people</a></li>
									<li><a href="#">Documents</a></li>
								</ul>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
							<div class="footer__navigation">
								<h4 class="footer__navigation-menu-title">Careers</h4>
								<ul class="footer__navigation-menu">
									<li><a href="#">Careers</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="footer__bottom">
					<div class="footer__bottom-group-1">
						<div class="footer__bottom-group-1-item">
							<img class="footer__logo" src="/images/0-1.svg" />
						</div>
						<div class="footer__bottom-group-1-item">
							3a Osborne Road,<br>
							Ikoyi Lagos State,<br>
							Nigeria
						</div>
						<div class="footer__bottom-group-1-item">
							<a href="tel:+23412799600">+234 1 279 9600</a><br>
							<a href="mailto:contact@africafc.org">contact@africafc.org</a><br>
							<a href="https://africafc.org" target="_blank">africafc.org</a><br>
						</div>
					</div>
					<div class="footer__bottom-group-2">
						<ul class="social">
							<li>
								<a href="#">
									<img class="social__image" src="/images/5-1.svg" />
								</a>
							</li>
							<li>
								<a href="#">
									<img class="social__image" src="/images/5-2.svg" />
								</a>
							</li>
							<li>
								<a href="#">
									<img class="social__image" src="/images/5-3.svg" />
								</a>
							</li>
							<li>
								<a href="#">
									<img class="social__image" src="/images/5-4.svg" />
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
<div class="coming-soon d-none">{{ 'Coming soon!'|t }}</div>

<script src="/js/jquery/jquery-3.6.0.min.js"></script>
<script src="/js/bootstrap/bootstrap.bundle.js"></script>
<script src="/js/bootstrap/bootstrap.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/tippy.min.js"></script>
<script src="/js/main.js"></script>
{% block unique_scripts %}{% endblock %}
</body>
</html>
