<!DOCTYPE html>
<html lang="EN">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta charset="utf-8"/>
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"/>
  <meta name="referrer" content="origin-when-cross-origin"/>
  <meta name="description" content="{{ 'AFC Bank - Home!'|t }}">
  <link rel="shortcut icon" href="/images/favicon_b.ico" />
  <link rel="icon" type="image/vnd.microsoft.icon" href="/images/favicon_b.ico">
  <link rel="icon" type="image/x-icon" href="/images/favicon_b.ico">
  <link rel="icon" href="/images/favicon_b.ico" />
  <link rel="stylesheet" href="/css/bootstrap/bootstrap.css" />
  <link rel="stylesheet" href="/css/bootstrap/bootstrap.css.map" />
  <link rel="stylesheet" href="/fonts/fontawesome/css/all.css" />
  <link rel="stylesheet" href="/css/main.css" />
  {% block unique_styles %}{% endblock %}
  <title>{{ 'AFC Bank - Home!'|t }}</title>
</head>
<body class="single-page">
<div class="wrapper d-flex flex-column">
  <header class="header">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-lg-3">
          <div class="d-flex justify-content-lg-start justify-content-between align-items-center h-100">
            <div class="logo h-100">

              <a href="{{ siteUrl }}demo"><img class="logo__image h-100" src="/images/hexagon-icon.png" alt="Logo" /></a>

            </div>

            <div>
              <hr class="hr-washed my-auto ml-4" style="width: 60px;">
            </div>

            <div class="burger mt-3">
              <span class="burger__toggle d-block d-lg-none"></span>
            </div>
          </div>
        </div>
        <div class="col-lg-9 d-none d-lg-block">
          <div class="d-flex align-items-center justify-content-end h-100">
            <nav class="header-nav mr-4">
              {# {% include "_includes/header-menu" %} #}
            </nav>
            <div class="d-flex align-items-center justify-content-end h-100 position-relative">
              <div class="tools-block d-flex align-items-center h-100">
                
                <a class="tools-block__link mr-4" href="{{ url('search/results') }}">
                  <img class="tools-block__img" src="/images/search-outline.svg" alt="Search" />
                </a>
                <a class="tools-block__link mr-4" href="{{ siteUrl }}contact-us#pin">
                  <img class="tools-block__img" src="/images/navigate-outline.svg" alt="Place" />
                </a>
                <a class="tools-block__link mr-4 language_switcher">
                  <img class="tools-block__img" src="/images/globe-outline.svg" alt="Language" />
                </a>
                <button type="button" class="btn btn-custom-green">Login</button>

              </div>
              {% set element = (category ?? entry ?? null) %}
              <ul class="language-list position-absolute">
                {% for site in craft.app.sites.getAllSites() %}
                  {% set siteLink = siteSwitcher(site.handle, element) %}
                    {% if siteLink %}
                      <li class="language-list__item"><a class="language-list__link d-flex px-4 py-2" href="{{ siteLink }}">{{ site.name }}</a></li>
                    {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile-menu d-block d-lg-none">
      <div class="mobile-menu-tools d-flex align-items-center justify-content-center my-4">
        <div class="d-flex align-items-center position-relative">
          <a class="mobile-menu-tools__link mr-5" href="{{ url('search/results') }}">
            <img class="mobile-menu-tools__img" src="/images/search.png" alt="Search" />
          </a>
          <a class="mobile-menu-tools__link mr-5" href="{{ siteUrl }}contact-us#pin">
            <img class="mobile-menu-tools__img" src="/images/map-place.png" alt="Place" />
          </a>
          <a class="mobile-menu-tools__link language_switcher">
            <img class="mobile-menu-tools__img" src="/images/language.png" alt="Language" />
          </a>
          {% set element = (category ?? entry ?? null) %}
          <ul class="language-list position-absolute mt-3">
            {% for site in craft.app.sites.getAllSites() %}
              {% set siteLink = siteSwitcher(site.handle, element) %}
              {% if site.language == 'en' %}
                <li class="language-list__item"><a class="language-list__link d-flex px-4 py-2" href="{{ siteLink }}">English</a></li>
              {% elseif site.language == 'fr' %}
                <li class="language-list__item"><a class="language-list__link d-flex px-4 py-2" href="{{ siteLink }}">French</a></li>
              {% else %}
                {% if siteLink %}
                  <li class="language-list__item"><a class="language-list__link d-flex px-4 py-2" href="{{ siteLink }}">{{ site.name }}</a></li>
                {% endif %}
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      {# {% include "_includes/header-mobile-menu" %} #}
    </div>
  </header>
  <main class="main d-flex flex-grow-1">
    {% block content %}{% endblock %}
  </main>
  <footer class="footer py-4 mt-4">
    <div class="container">
      <div class="row">

        <div class="col-lg-9 h-100">
          <div class="row">
            <div class="col-lg-4 h-100">
            
              <h3 class="text-light">Test title</h3>
              <p class="text-light">Etfst sdfgsdfsdsdfsdf sdfreter terter sdffs 34 34535 czvxcvxzc ggfjshdgfjhsd iwuerywejh gjh gjhg</p>

            </div>
            <div class="col-lg-4 h-100">

              <h3 class="text-light">Test title 1</h3>
              <p class="text-light text-justify">Ltfst sdfg shkdf sjdfhksjhekj nbfngbmdf bsdghsk jh weuyrwieury 78 68723648723 hgfjshdgfjhsd iwuerywejh gjh gjhg</p>

            </div>
            <div class="col-lg-4 h-100">
            
              <div>
                <div class="social-block d-flex align-items-center justify-content-center justify-content-lg-start mb-3">
                  <a
                          href="#"
                          class="social-block__link d-flex align-items-center justify-content-center rounded-circle mr-3"
                  >
                    <i class="social-block__icon fab fa-twitter"></i>
                  </a>
                  <a
                          href="#"
                          class="social-block__link d-flex align-items-center justify-content-center rounded-circle mr-3"
                  >
                    <i class="social-block__icon fab fa-youtube"></i>
                  </a>
                  <a
                          href="#"
                          class="social-block__link d-flex align-items-center justify-content-center rounded-circle mr-3"
                  >
                    <i class="social-block__icon fab fa-linkedin-in"></i>
                  </a>
                </div>

                <div class="social-block d-flex align-items-center justify-content-center justify-content-lg-start">
                  <a
                          href="#"
                          class="social-block__link d-flex align-items-center justify-content-center rounded-circle mr-3"
                  >
                    <i class="social-block__icon fab fa-linkedin-in"></i>
                  </a>
                  <a
                          href="#"
                          class="social-block__link d-flex align-items-center justify-content-center rounded-circle mr-3"
                  >
                    <i class="social-block__icon fab fa-facebook-f"></i>
                  </a>
                  <a href="#" class="social-block__link d-flex align-items-center justify-content-center rounded-circle">
                    <i class="social-block__icon fab fa-instagram"></i>
                  </a>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="col-lg-3 h-100">

          <form>
            <label for="emailAddress" class="text-light">Email address</label>
            <div class="input-group mb-3">
              <input type="text" class="form-control" id="emailAddress" aria-describedby="basic-addon3">
            </div>

            <button type="button" class="btn btn-custom-green">Contact me</button>
          </form>
          
            {# {% include "_includes/footer-menu" %} #}
            
        </div>

      </div>
    </div>
  </footer>
</div>
<div class="coming-soon d-none">{{ 'Coming soon!'|t }}</div>

<script src="/js/jquery/jquery-3.6.0.min.js"></script>
{#<script src="/js/jquery/jquery-3.6.0.min.map"></script>#}
<script src="/js/bootstrap/bootstrap.bundle.js"></script>
{#<script src="/js/bootstrap/bootstrap.bundle.js.map"></script>#}
<script src="/js/bootstrap/bootstrap.js"></script>
{#<script src="/js/bootstrap/bootstrap.js.map"></script>#}
<script src="/js/popper.min.js"></script>
<script src="/js/tippy.min.js"></script>
<script src="/js/main.js"></script>
{% block unique_scripts %}{% endblock %}
</body>
</html>
