{% extends '_layouts/main' %}

{% block content %}

<main class="main">
  <section id="page-header">
    <div class="block-page-header">
      <div class="container">
        <h2 class="block-page-header__title">Our impact</h2>
      </div>
      <nav class="block-page-header__navigation">
        <div class="container">
          <ul class="block-page-header__navigation-menu">
            <li><a href="/" class="active">Home</a></li>
            <li><a href="/investor-and-country-relations-products">Products</a></li>
            <li><a href="/our-approach-the-solutions-we-deliver">The solutions we deliver</a></li>
            <li><a href="/our-impact-impact-stories">Impact Stories</a></li>
          </ul>
          <ul class="block-page-header__navigation-menu">
            <li><a href="/our-impact/our-approach-to-impact">Our approach to impact</a></li>
            <li><a href="/our-impact-our-publications">Our publications</a></li>
            <li><a href="/our-impact-portfolio-dashboard">Portfolio Dashboard</a></li>
            <li><a href="/principal-investing-catalyst-strategies">Catalyst strategies</a></li>
          </ul>
          <ul class="block-page-header__navigation-menu">
            <li><a href="/principal-investing-countries">Countries</a></li>
            <li><a href="/principal-investing-how-we-invest">How we invest</a></li>
            <li><a href="#">None</a></li>
            <li><a href="#">None</a></li>
          </ul>
        </div>
      </nav>
    </div>

  </section>

  <section id="hero">
    <div class="block-hero" style="background-image:url('/images/woman-start-bg.png')">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-7">
            <div class="block-hero__inner">
              <div class="block-hero__content-container">
                <h1 class="block-hero__title h2">
                  Instrumental Infrastructure. Instrumental Africa.
                </h1>
                <div class="block-hero__content common text--large">
                  “It is the strength of our mindset and unique approach to deliver de-risked, transformational projects for Africa that truly differentiates us in the market. Our competitors can imitate our solutions, but they cannot replicate our culture.”
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="block-spacer"></div>
  </section>

</main>

{% endblock %}
