{% extends '_layouts/principal-investing-countries-layout' %}

{% block content %}

<main class="main">
  <section id="page-header">
    <div class="block-page-header">
      <div class="container">
        <h2 class="block-page-header__title">Our impact</h2>
      </div>
      <nav class="block-page-header__navigation">
        <div class="container">
          <ul class="block-page-header__navigation-menu">
            <li><a href="#" class="active">Our approach to impact</a></li>
            <li><a href="#">Impact stories</a></li>
            <li><a href="#">Our publications</a></li>
            <li><a href="#">Portfolio Dashboard</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </section>

  <section id="hero">
  {% set matrixBlocksTitles = entry.matrixTitle.all() %}
    <div class="block-hero" style="background-image:url('{{ entry.topImage.one().url }}'">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-7">
            <div class="block-hero__inner">
              <div class="block-hero__content-container">
                <h1 class="block-hero__title h2">
                  {% for m in matrixBlocksTitles|filter(m => m.sort == 1) %}
                    {{ m.textTitle }}
                  {% endfor %}
                </h1>
                <div class="block-hero__content common text--large">
                  {% if entry.titleDescription %}
                    {{ entry.titleDescription }}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="block-spacer"></div>

    <div class="block-text block-text--padding-x text--large">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-10">
            <div class="block-text__inner">
              <h2>
                {% for m in matrixBlocksTitles|filter(m => m.sort == 2) %}
                  {{ m.textTitle }}
                {% endfor %}
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="block-text block-text--padding-x text--large">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-10">
            <div class="block-text__inner">
              <h3 class="fw-normal">
                {% for m in matrixBlocksTitles|filter(m => m.sort == 3) %}
                  {{ m.textTitle }}
                {% endfor %}
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="block-text block-text--padding-x text--large">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-10">
            <div class="block-text__inner">
              <h4 class="fw-normal">
                {% for m in matrixBlocksTitles|filter(m => m.sort == 4) %}
                  {{ m.textTitle }}
                {% endfor %}
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="block-spacer--spacing-20"></div>

    <div class="block-text block-text--padding-x text--large">
      <div class="container">
        <div class="block-text__inner">
          <div class="block-big-feature__content common">
            <ul>
              {% for block in entry.listUl.orderBy('sort').all() %}
                {% if block.type == "listUl1" %}
                  <li>{{ block.listText }}</li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="block-spacer--spacing-100"></div>
    </div>

    <div class="block-text block-text--padding-x text--large">
      <div class="container">

        <div class="row">
          <div class="col-12 col-md-6">
            <div class="block-spacer--spacing-100 custom-countries__border"></div>

            <div class="block-text__inner">
              <h3 class="fw-normal">
                {% for m in matrixBlocksTitles|filter(m => m.sort == 5) %}
                  {{ m.textTitle }}
                {% endfor %}
              </h4>
            </div>
            <div class="block-text__inner">
              <div class="block-big-feature__content common">
                <ul class="custom-countries__columns">
                  {% for block in entry.listUl.orderBy('sort').all() %}
                    {% if block.type == "listUl2" %}
                      <li class="custom-countries__text">{{ block.listText }}</li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <img src="{{ entry.matrixPicture.first().assetPicture.one().url }}" alt="">
          </div>
        </div>

      </div>
      <div class="block-spacer--spacing-100"></div>
    </div>

  </section>

</main>

{% endblock %}
