{% extends '_layouts/our-impact-our-publications-layout' %}

{% block content %}

<main class="main">
  <section id="page-header">
    <div class="block-page-header">
      <div class="container">
        <h2 class="block-page-header__title">Our publications</h2>
      </div>
      <nav class="block-page-header__navigation">
        <div class="container">
          <ul class="block-page-header__navigation-menu">
            <li><a href="#">Our approach to impact</a></li>
            <li><a href="#">Impact stories</a></li>
            <li><a href="#" class="active">Our publications</a></li>
            <li><a href="#">Portfolio Dashboard</a></li>
          </ul>
        </div>
      </nav>
    </div>

  </section>

  <section id="hero">
  {% set matrixBlocksTitles = entry.matrixTitle.all() %}
    <div class="block-hero" style="background-image:url('{{ entry.topImage.one().url }}'">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-7">
            <div class="block-hero__inner">
              <div class="block-hero__content-container">
                <h1 class="block-hero__title h2">
                  {% for m in matrixBlocksTitles|filter(m => m.sort == 1) %}
                    {{ m.textTitle }}
                  {% endfor %}
                </h1>
                <div class="block-hero__content common text--large">
                  {% if entry.titleDescription %}
                    {{ entry.titleDescription }}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="block-spacer"></div>
  </section>

  {% set listDocs = craft.entries.section('ourImpactOurPublications').orderBy('sortIS').all() %}

  <section id="our-development-impact-framework">
      <div class="block-spacer--spacing-100"></div>
      <div class="block-card-group">
        <div class="container">
          <div class="block-card-group__inner">
            <div class="row">
              {% for item in listDocs %}
                <div class="col-sm-12 col-md-6 col-lg-4">
                  <div class="block-card stories">
                    <img class="block-card__image-container-stories" src="{{ item.docImage.one().url }}" alt="Image">
                    <div class="block-card__text-container-stories">
                      <h3 class="block-card__title">
                        {{ item.docTitle }}
                      </h3>
                      <img src="/images/pdf-icon.svg" alt="PDF" width="37" height="45">
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="block-spacer--spacing-100"></div>
    </div>
  </section>

  <section id="our-development-impact-framework">
    <div class="block-container block-container--background-shape block-container--background-shape-color-white background--color-warm-grey background--color-translucent">
      <div class="block-text">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-lg-10">
              <div class="block-text__inner">
                <h2>
                {% for m in matrixBlocksTitles|filter(m => m.sort == 2) %}
                  {{ m.textTitle }}
                {% endfor %}
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="block-spacer block-spacer--spacing-30"></div>

      <div class="container">
        <div class="row">
          {% for item in listDocs %}
            <div class="block-doc__outer col-12">
              <div class="block-doc__inner bd-highlight">
                <img src="/images/pdf-icon.svg" alt="PDF" width="37" height="45">
                <h4 class="w-100 bd-highlight">{{ item.docTitle }}</h4>
                <div class="block-card__button-container block-doc__inner-button">
                  <a class="button button--primary button--icon button--icon-plus" href="#" data-overlay-open='{ "id" : "oati-overlay-content-4" }'>Download</a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="block-spacer block-spacer--spacing-100"></div>
        <div class="switching-beetween-sections"></div>
        <div class="block-doc__outer-bottom-text">
          <h3>
            {% for m in matrixBlocksTitles|filter(m => m.sort == 3) %}
              {{ m.textTitle }}
            {% endfor %}
          </h3>
          <p>
            {% for m in matrixBlocksTitles|filter(m => m.sort == 4) %}
              {{ m.textTitle }}
            {% endfor %}
          </p>
          <a href="#" class="read-more__link-outer">
            <h4 class="read-more__link">
              <span>Read More</span>
              <img src="/images/arrow-right.svg" alt="arrow">
            </h4>
          </a>
        </div>
      </div>

      <div class="block-spacer block-spacer--spacing-20"></div>
    </div>
  </section>
</main>

{% endblock %}
